{% extends "FilmyBundle::bars.html.twig" %}

	{% block header %}
		<h1>MoviesView</h1>
	{% endblock %}



	{% block content %}
		
		

		
    		{{ dump(movies) }}
    		{{ dump(actors) }}
    		{{ dump(reviews) }}
    		{{ dump(test) }}
 
    
    
   
    
{% for test in test%}
            
            <br>{{test.genre}}
            {%for gat in gat%}
            {%if test.genre==gat.genre%}
            <br>{{ gat.title }}
            {%endif%}
            {%endfor%}
           
            
            
    
    
    {%endfor%}			
			

		
		
    
        
 
    	
 

	{% endblock %}