{% extends "FilmyBundle::bars.html.twig" %}

	{% block header %}
		
	{% endblock %}



	{% block content %}

	<?php
    $var = $GET['movies.id'];
    echo $movies.id
	?>
	{#{{a}}#}
	{#{{b}}#}
	{#{{c}}#}

<div class="container">           
    <div class="row" style="text-align: center">

		<h2>Dodaj Zamówienie</h2>
		
		<form method="POST">
		{#{{ form_widget(form.status, {value: "28" } ) }}#}

		
		{{ form_widget(form) }}
		<button type="submit">Dodaj Wpis</button>
		</form>
		
</div>
	</div>    
        
 
    	
 

	{% endblock %}