{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
        <h1>QueryView</h1>
    {% endblock %}



    {% block content %}
        
      
   <ul>
        {#{% for movies in movies %}
                <li> tytul:{{ movies.title }} </li>
        {% endfor %}#}
        {# <a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/Movies/{{ moviesdisplay.image }}"></a> #}
        {#<a href="{{path('filmy_moviesdisplay', {'moviesdisplay': ojciecchrzestny})}}">ojciec chrzestny link</a>#}
        
        {% for moviedisplay in moviesdisplay %}


                <li><img src="{{asset('bundles/filmy/images/')}}{{ moviedisplay.image }}.jpg" alt="Filmy" class="img-thumbnail" height="42" width="42">
                        <br>Tytul:{{ moviedisplay.title }} </a>
                        <br>Opis:{{ moviedisplay.description }}
                        <br>Id_filmu:{{ moviedisplay.id }}
                        <br>Gatunek:{{ moviedisplay.genre }}
                        <br>Cena:{{ moviedisplay.price }}
                        
                        {% for actor in actors %}
                        {% if (actor.idfilm == moviedisplay.id) %}
                        <br>Aktor:{{ actor.Name }}
                            {% endif %}
                            {% endfor %}
                </li>
                            {% endfor %}
        
    </ul>
    
        
 
        
 

    {% endblock %}
        
        
    




