{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
        <h1>QueryView</h1>
    {% endblock %}



    {% block content %}
        
      
   <ul>
        {#{% for movies in movies %}
                <li> tytul:{{ movies.title }} </li>
        {% endfor %}#}
        {# komentarz #}
        
        {% for moviesdisplay in moviesdisplay %}
                <li><a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/Movies/{{ moviesdisplay.image }}"><img src="{{asset('bundles/filmy/images/')}}{{ moviesdisplay.image }}.jpg" alt="Filmy" class="img-thumbnail" height="42" width="42"></a>
                        <br>Tytul:<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/Movies/{{ moviesdisplay.image }}">{{ moviesdisplay.title }} </a>
                        <br>Opis:{{ moviesdisplay.description }}
                        <br>Id_filmu:{{ moviesdisplay.id }}
                        <br>Gatunek:{{ moviesdisplay.genre }}
                        <br>Cena:{{ moviesdisplay.price }}
                </li>
        {% endfor %}
        
    </ul>
    
        
 
        
 

    {% endblock %}
        
        
    




