{% extends "FilmyBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header %}

{% if app.user.username is defined %}
    <p>Zalogowano jako {{ app.user.username }}</p>
{% else %}
	<p>Niezalogowany użytkownik<br></p>
	<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/login">Zaloguj się</a>
	<br><a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/register">Zarejestruj się</a>
{% endif %}


<h1>Filmy</h1>
{% endblock %}

{% block menu %}
	<ol>
		Lista dostępnych filmów:
		<li><a href="{{path('filmy_gladiator')}}">Gladiator</a><a href="{{path('filmy_gladiator')}}"><img src="http://1.fwcdn.pl/po/09/36/936/7472818.3.jpg" height="400" width="300" /></a>
		<li><a href="{{path('filmy_matrix')}}">Matrix</a><a href="{{path('filmy_matrix')}}"><img src="http://1.fwcdn.pl/po/06/28/628/7495038.3.jpg" height="400" width="300" /></a>
		<li>
	</ol>
	<ol>
		Lista popularnych filmów(najczęściej wypożyczanych)
		<li>
		<li>
		<li>
	</ol>
	<ol>
		Lista najczęściej recenzowanych filmów
		<li>
		<li>
		<li>
	</ol>
{% endblock %}