{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
        <h1>{{attribute(moviesdisplay, 4).title}}</h1>
    {% endblock %}



    {% block content %}
        
      
   <ul>        
                <li><img src="{{asset('bundles/filmy/images/')}}{{attribute(moviesdisplay, 4).image}}.jpg" alt="Filmy" class="img-thumbnail" height="42" width="42">
                        <br>Tytul:{{attribute(moviesdisplay, 4).title}}
                        <br>Opis:{{attribute(moviesdisplay, 4).description}}
                        <br>Id_filmu:{{attribute(moviesdisplay, 4).id}}
                        <br>Gatunek:{{attribute(moviesdisplay, 4).genre}}
                        <br>Cena:{{attribute(moviesdisplay, 4).price}}
                </li>
        
        
    </ul>
    
        
 
        
 

    {% endblock %}
        
        
    




