{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
    <div class="container"> 
        <h1 style="text-align: center">{{ movies.title }}</h1>
    </div>
    {% endblock %}



    {% block content %}
        
<div class="container">           
    <div class="row" style="text-align: center">      
   
      
        
        


                <img src="{{asset('bundles/filmy/images/')}}{{ movies.image }}.jpg" alt="Filmy" class="img-thumbnail" height="50%" width="50%">
                        {#<br>Tytul:{{ movies.title }} </a>#}
                        <h4><br>Opis:<br>{{ movies.description }}<br>
                        <br>Id_filmu:<br>{{ movies.id }}<br>
                        <br>Cena:<br>{{ movies.price }}<br>
                        <br>Aktorzy:<br>
                        {% for actors in actors %}
                            {% if (actors.idfilm == movies.id) %}
                                {{ actors.Name }}
                            {% endif %}
                        {% endfor %}<br>
                        <br>Gatunek:
                        {% for genre in genres %}
                        {% if (genre.idfilm == movies.id) %}
                        {{ genre.genre }}<br>
                            {% endif %}
                            {% endfor %}
                        </h4>
                            
                
                            

    

{% if app.user.username is defined %}
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/Orders"><button type="button" class="btn btn-primary">Wypożycz - przycisk</button></a><br>
{% else %}
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/login"><button type="button" class="btn btn-primary">Zaloguj się</button></a><br>
{%endif%}

{% if app.user.username is defined %}
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/Review"><button type="button" class="btn btn-primary">Dodaj recenzje - przycisk</button></a>
{%endif%}
<br><a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/">Wróc do strony poprzedniej</a><br>        
 
        
 
</div>
    </div>

    {% endblock %}
        
        
    




