{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
        <h1>{{ movies.title }}</h1>

    {% endblock %}



    {% block content %}
        
      
   <ul>
      
        
        


                <li><img src="{{asset('bundles/filmy/images/')}}{{ movies.image }}.jpg" alt="Filmy" class="img-thumbnail" height="42" width="42">
                        <br>Tytul:{{ movies.title }} </a>
                        <br>Opis:{{ movies.description }}
                        <br>Id_filmu:{{ movies.id }}
                        <br>Cena:{{ movies.price }}
                        <br>Aktorzy:
                        {% for actors in actors %}
                            {% if (actors.idfilm == movies.id) %}
                                {{ actors.Name }}
                            {% endif %}
                        {% endfor %}
                        <br>Gatunek:
                        {% for genre in genres %}
                        {% if (genre.idfilm == movies.id) %}
                        {{ genre.genre }}
                            {% endif %}
                            {% endfor %}
                        
                            
                </li>
                            

    </ul>
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/">Wróc do strony poprzedniej</a><br>
{% if app.user.username is defined %}
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/"><button type="button" class="btn btn-primary">
{% else %}
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/login"><button type="button" class="btn btn-primary">
{%endif%}
Wypożycz - przycisk</button></a><br>
{% if app.user.username is defined %}
<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/Review"><button type="button" class="btn btn-primary">Dodaj recenzje - przycisk</button></a>
{%endif%}
        
 
        
 

    {% endblock %}
        
        
    




